#add_tune_link, 
#login_link, 
#register_link, 
#logout_link 
                            			{
                                        display: inline-block;
                                        margin-right: 10px;
                                        margin-bottom: 5px;
                                        cursor: pointer;
                                        }
                                                                        
